.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  height: 100%;
  padding: 5vw;
}

.article::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 10%;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  z-index: 0;
  pointer-events: none;
  background-image: url("../../../../assets/photos/static/mountains.png");
  background-position: center;
  background-size: cover;
}
