.profile-bar {
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 15dvw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile-bar-mobile {
  width: 100dvw;
  z-index: 5;
}
